
*{
    font-family: "Victor Mono",monospace;
    box-sizing: border-box;
    margin: 0;
}
a, h1, h2, h3, p, li{
    text-decoration: none;
    color:#f5f5f5;

}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p, a, li{
    font-size: 20px;
}
body{
    position: relative;
    background-image: url(imgs/fondo.png);
}
/*-------------------------------------------------------------------------------------------------------------*/
.header{
    width: 100%;
    top: 0;
    left: 0;
}
.nav_bar{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 250px;
}
.nav_menu{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    padding: 0;
    width: 50%;
}
.nav_menu  li a {
    position: relative;
  }
.nav_menu  li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #f8887e;
    height: 2px;
  }
  .nav_menu  li a:hover:after {
    width: 100%;
    transition: all 1.5s;
    }

/*-------------------------------------------------------------------------------------------------------------*/
.section{
    margin: 80px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00000096;
}
.section_information h1{
    padding: 10px 0px;
}
.span_name{
    background: linear-gradient(#ff3c3c,#f8887e,#fe5645);
    -webkit-background-clip: text;
    color: transparent;  
    font-weight: bold;
}
.section_information{
    padding: 30px;
}
.section_list{
    padding: 15px;
    font-size: 20px;
}
.circular--landscape {
    width: 500px;
    height: 440px;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid #f8887e;
}
#profile_img{
    width: 100%;
}

/*-------------------------------------------------------------------------------------------------------------*/
.article_portfolio{
    margin: 80px 0px;
}
.article_portfolio h1{
    background-color: #00000096;
    border-bottom: 4px solid  #f8887e;
    margin: auto;
    padding: 10px;
    margin-bottom: 50px;
    width: fit-content;
}
.article_portfolio img{
    max-width: 100px;
    min-height: 100px;
}
.portfiolio_section_colums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.portfiolio_section_colum{
    padding: 0px 0px 50px 0px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #f8887e;
    background-color: #00000096;
}
.portfiolio_section_colum i{
    padding: 20px 0;
    font-size: 60px;
}
.portfiolio_section_colum i:hover{
    width: fit-content;
    color: #ff3c3c;
    transition: 1s;
}


/*-------------------------------------------------------------------------------------------------------------*/
.extras{
    
    background-color: #00000096;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    padding: 40px 40px 40px 40px;
}
.extras h2{
    width: fit-content;
    border-bottom: 4px solid #f8887e;
    margin: 0px auto 50px auto; /* changed from margin: 0px 0px 50px 0px; */
    text-align: center; /* added */
}
/*-------------------------------------------------------------------------------------------------------------*/
footer{
    background-color: #00000096;
    margin: auto;
    width: fit-content;
}
footer h3{
    margin: auto;
    width: fit-content;
    padding-bottom: 30px;

}
footer a i{
    font-size: 40px;
    padding: 50px 50px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 20px;
    }

    .switch input {
    display: none;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color:#f5f5f5;
    -webkit-transition: .4s;
    transition: .4s;
    width: fit-content;
    font-size: 20px;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 35px;
    left: 0px;
    padding: 1px;
    border: #f8887e 1px solid;
    -webkit-transition: .4s;
    transition: .4s;
    }



    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    }
    .nav_toggle {
        display: none;
    }


    @media only screen and (max-width: 500px) {
        body {
            padding: 0px 10px 0px 10px; /* Adjust the body for content on the sides */
            position: relative;
        }
        .nav_bar{
            display: none;
        }
        .section{
            width: 100%;
            margin: none;
            display: block;
            justify-content: none;
            align-items: none;
            background-color: #00000096;
        }

        .section_information h1{
            padding: none;
        }

        .section_information{
            padding: none;
        }
        .section_list{
            padding: none;
            font-size: 20px;
        }
        .circular--landscape {
            display: none;
        }
        #profile_img{
            display: none;
        }


        .article_portfolio{
            margin: none;
        }

        .article_portfolio img{
            max-width: 50px;
            min-height: 50px;
        }
        .portfiolio_section_colums{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .portfiolio_section_colum{
            padding: 0px 0px 5px 0px;
            width: 300px;
            margin: auto;
            margin-bottom: 10px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid #f8887e;
            background-color: #00000096;
        }

        footer{
            background-color: #00000096;
            margin: none;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        footer h3{
                margin: none;
                width: none;
                padding-bottom: none;
        
        }
        footer a i{
            font-size: 30px;
            padding: 20px 20px;
        }
    }